/*CARACTERISTICAS GENERALES*/

.logo{
    filter: brightness(1.1);
        mix-blend-mode: multiply;
}
    
.redesSociales{
        filter: brightness(1.1);
        mix-blend-mode: multiply;
}

.body {
    background:no-repeat ;
}

p {
    font-family: sans-serif;
    color: rgb(31, 75, 23);
    padding: 3px;
}

#gridGeneral {
    display: grid;
    grid-template-rows: 200px 300px 100px;
    grid-template-areas: 
"area1 area1 area1 area1"
"area2 area2 area2 area2"
"area3 area3 area3 area3";
background: linear-gradient(to bottom, rgb(206, 164, 87), white);
width: 100%;
}

#cuerpoSeccionUno{
    
    grid-area: area1;
    width: 100%;
}



#cuerpoSeccionDos{
    grid-area: area2;
    width: 100%;
}


#footerSeccionTres{
    grid-area: area3;
    width: 100%;
}

/*Index*/

#surfistaIcono{
    height: auto;
    max-width: 100%;
    width: 100%;
}

#mapa{
    float: right;
    width: 430px;
    height: 80%;
    
}

.parrafoIndex{
    clear: both;
    text-align: center;
    font: 110% sans-serif;
    display: inline;
    color: rgb(31, 75, 23);
    padding: 3px;
}



.gridReservas{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 
"seccion1 seccion2 seccion3"
"seccion1 seccion2 seccion3"
"seccion4 seccion5 seccion6"
"seccion4 seccion5 seccion6";


column-gap: 15%;


justify-items: center;
align-items: center;
}

#seccionUno{
grid-area: seccion1;
width: 100%;
height: 350px;
}

#seccionUno li{
    list-style: none;
    font: sans-serif;
}


#seccionUno a {
    color: rgb(31, 75, 23);
    text-decoration: none;
}

#seccionUno a p {
    font: sans-serif;
}

#seccionUno a:hover{
    color: gray;
}


#seccionDos{
    grid-area: seccion2;
    width: 100%;
    height: 350px;
}

#seccionDos li{
    list-style: none;
}


#seccionDos a {
    color: rgb(31, 75, 23);
    text-decoration: none;
}

#seccionDos a p {
    font: sans-serif;
}

#seccionDos a:hover{
    color: gray;
}



#seccionTres{
        grid-area: seccion3;
        width: 100%;
        height: 350px;
}

#seccionTres li{
    list-style: none;
}


#seccionTres a {
    color: rgb(31, 75, 23);
    text-decoration: none;
}

#seccionTres a p {
    font: sans-serif;
}

#seccionTres a:hover{
    color: gray;
}

#seccionCuatro{
        grid-area: seccion4;
        width: 100%;
        height: 100%;
}

#seccionCuatro li{
    list-style: none;
}


#seccionCuatro a {
    color: rgb(31, 75, 23);
    text-decoration: none;
}

#seccionCuatro a p {
    font: sans-serif;
}

#seccionCuatro a:hover{
    color: gray;
}


#seccionCinco{
        grid-area: seccion5;
        width: 100%;
        height: 100%;
}

#seccionCinco li{
    list-style: none;
}


#seccionCinco a {
    color: rgb(31, 75, 23);
    text-decoration: none;
}

#seccionCinco a p {
    font: sans-serif;
}

#seccionCinco a:hover{
    color: gray;
}



#seccionSeis{
    grid-area: seccion6;
    width: 100%;
    height: 100%;
}

#seccionSeis li{
    list-style: none;
}


#seccionSeis a {
    color: rgb(31, 75, 23);
    text-decoration: none;
}

#seccionSeis a p {
    font: sans-serif;
}

#seccionSeis a:hover{
    color: gray;
}



/*
Pagina trips
*/

.surfTripVideo{
    float: right;
    width: 430px;
    height: 80%;
    
}

.culturaPlayaTitulo{
    color: rgb(31, 75, 23);
    padding: 3px;
    padding-bottom: 50px;
}

.infoTrips{
    clear: both;
    text-align: center;
    font: 110% sans-serif;
    display: inline;
    color: rgb(31, 75, 23);
    padding: 3px;
}

.atardecerPageTrip {
    width: 100%;
    height: 90%;
    padding-bottom: 20px;
}



/*Pagina contacto*/

form{
    width: 400px;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    font-family: sans-serif;
    padding-bottom: 3px;
}

form h2{
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
    font: sans-serif;
    padding: 1px;
    color: rgb(31, 75, 23);
    padding-bottom: 20px;
}

form h3{
    font: sans-serif;
    font-size: 16px;
    margin-bottom: 1%;
    color: rgb(31, 75, 23);
}

form h4 {
    font: sans-serif;
    font-size: 16px;
    font: sans-serif;
    padding: 1px;
    color: rgb(31, 75, 23);
}

.form-control{
    width: 300px;
    background: rgb(185, 185, 185);
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f1f1f;
    font-family: sans-serif;
    font-size: 18px;
}

.consulta{
        width: 323px;
        background: rgb(185, 185, 185);
        padding: 12px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f1f1f;
        font-family: sans-serif;
        font-size: 18px;
        padding-bottom: 10px;
}

.bottons{
    width: 98%;
    background: rgb(31, 75, 23);
    border: none;
    padding: 15px;
    color: rgb(255, 254, 254);
    margin: 16px 0;
    font-size: 16px;
    padding-top: 10px;
}


/*
PAGINA TUTORIALES
*/

#gridTutoriales{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: 
"seccion1 seccion2 seccion3"
"seccion1 seccion2 seccion3"
"seccion4 seccion5 seccion6"
"seccion4 seccion5 seccion6";
font-family: sans-serif;

column-gap: 10%;
row-gap: 30px;

justify-items: center;
align-items: center;

}

#seccionUnoT{
grid-area: seccion1;
width: 90%;
height: 100%;
}


#seccionDosT{
    grid-area: seccion2;
    width: 100%;
    height: 100%;
}


#seccionTresT{
    grid-area: seccion3;
    width: 100%;
    height: 100%;
}


#seccionCuatroT{
    grid-area: seccion4;
    width: 90%;
    height: 100%;
}


#seccionCincoT{
    grid-area: seccion5;
    width: 100%;
    height: 100%;
}


#seccionSeisT{
    grid-area: seccion6;
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 600px){


.surfTripVideo{
    float: right;
    width: 430px;
    height: 50%;
    
}
    
    .infoTrips{
        text-align: center;
        font: 60% sans-serif;
        display: inline;
        color: rgb(31, 75, 23);
        padding: 3px;
    }

    .culturaPlayaTitulo{
        color: rgb(31, 75, 23);
        padding: 3px;
        padding-bottom: 20px;
    }
    
    nav ul li{
        font: 90% sans-serif;
        padding: 3px;
        float: right;
        list-style: none;
    }
    
    nav ul li a{
        color: rgb(31, 75, 23);
        text-decoration: none;
        float: right;
        list-style: none;
    }

    footer {
        float: center;
        padding-top: 150px;
        text-align: center;
    }
    
    footer .redesSociales{
        float: center;
        text-align:end;
        height: 40%;
        width: 40%;
    }
    
    footer .derechosReservados{
        font-size: 10px;
        color: rgb(31, 75, 23);
    
    }
    #mapa{
        width: 50%;
        height: 50%;
        
    }

    .parrafoIndex{
        font: 50% sans-serif;
        color: rgb(31, 75, 23);
    }
.logo{
    height: 70px;
    position: inherit;
}

#gridTutoriales{
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 90px 90px 90px;
    grid-template-areas: 
"seccion1 seccion1 seccion2 seccion2"
"seccion3 seccion3 seccion4 seccion4"
"seccion5 seccion5 seccion6 seccion6";
font-family: sans-serif;

column-gap: 10%;
row-gap: 30px;

justify-items: center;
align-items: center;

}

#seccionUnoT{
    grid-area: seccion1;
    width: 100%;
    height: 100%;
    }
    
    
    #seccionDosT{
        grid-area: seccion2;
        width: 100%;
        height: 100%;
    }
    
    
    #seccionTresT{
        grid-area: seccion3;
        width: 100%;
        height: 100%;
    }
    
    
    #seccionCuatroT{
        grid-area: seccion4;
        width: 100%;
        height: 100%;
    }
    
    
    #seccionCincoT{
        grid-area: seccion5;
        width: 100%;
        height: 100%;
    }
    
    
    #seccionSeisT{
        grid-area: seccion6;
        width: 100%;
        height: 100%;
    }

.parrafoTutoriales {
    font-size: 100%;
}

.videoTutorial {
    height: 70%;
    width: 70%;
}

/*Pagina contacto*/

form{
    width: 170px;
    padding:5px;
    margin: auto;
    border-radius: 1px;
    font-family: sans-serif;
}

form h2{
    padding-top: 50px;
    text-align: left;
    font-size: 10px;
    font: sans-serif;
    padding: 1px;
    color: rgb(31, 75, 23);
    padding-bottom: 10px;
}

form h3{
    font: sans-serif;
    font-size: 8px;
    margin-bottom: 1%;
    color: rgb(31, 75, 23);
}

form h4 {
    font: sans-serif;
    font-size: 8px;
    font: sans-serif;
    padding: 1px;
    color: rgb(31, 75, 23);
}

.form-control{
    width: 150px;
    background: rgb(185, 185, 185);
    padding: 3px;
    border-radius: 1px;
    margin-bottom: 4px;
    border: 1px solid #1f1f1f;
    font-family: sans-serif;
    font-size: 9px;
}

.consulta{
    width: 150px;
    background: rgb(185, 185, 185);
    padding: 3px;
    border-radius: 1px;
    margin-bottom: 4px;
    border: 1px solid #1f1f1f;
    font-family: sans-serif;
    font-size: 9px;
    
}

.bottons{
    width: 150px;
    background: rgb(31, 75, 23);
    border: none;
    padding: 8px;
    color: rgb(255, 254, 254);
    margin: 8px 0;
    font-size: 8px;
    padding-top: 5px;
}

.checkbox {
    color:  rgb(31, 75, 23);
    font-size: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#imagenContacto{
    height: auto;
    width: 100%;
}


}

@media only screen and (min-width:600px){
    nav ul {
        list-style: none;
        text-align: center;
        float: right;
        font: 20px sans-serif;
    }
    
    nav ul li{
        margin-right: 10px;
        display: inline;
        font: 90% sans-serif;
        padding: 3px;
    }
    
    nav ul li a{
        color: rgb(31, 75, 23);
        text-decoration: none;
    }

        footer {
            float: center;
            padding-top: 300px;
            text-align: center;
        }
        
        footer .redesSociales{
            float: center;
            padding-top: 150px;
            text-align:end;
        }
        
        footer .derechosReservados{
            font-size: 10px;
            color: rgb(31, 75, 23);
        }

        /*Pagina contacto*/

form{
    width: auto;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    font-family: sans-serif;
    padding-bottom: 3px;
    height: auto;
    float: right;
}

form h2{
    padding-top: 100px;
    text-align: center;
    font-size: 18px;
    font: sans-serif;
    padding: 1px;
    color: rgb(31, 75, 23);
    padding-bottom: 20px;
}

form h3{
    font: sans-serif;
    font-size: 14px;
    margin-bottom: 1%;
    color: rgb(31, 75, 23);
    padding-bottom: 4px;
}

form h4 {
    font: sans-serif;
    font-size: 14px;
    font: sans-serif;
    padding: 1px;
    color: rgb(31, 75, 23);
}

.form-control{
    width: 300px;
    background: rgb(185, 185, 185);
    padding: 3px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f1f1f;
    font-family: sans-serif;
    font-size: 18px;
}

.consulta{
        width: 300px;
        background: rgb(185, 185, 185);
        padding: 12px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f1f1f;
        font-family: sans-serif;
        font-size: 16px;
        padding-bottom: 10px;
    
}

.bottons{
    width: 98%;
    background: rgb(31, 75, 23);
    border: none;
    padding: 10px;
    color: rgb(255, 254, 254);
    margin: 16px 0;
    font-size: 14px;
    padding-top: 10px;
}

.checkbox {
    color:  rgb(31, 75, 23);
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#imagenContacto{
    height: 500px;
    max-width: 70%;
    width: 70%;
}


}

